# Ignore Terraform directories
.terraform/

# Ignore Terraform state files
*.tfstate
*.tfstate.backup

# Ignore Terraform lock file
.terraform.lock.hcl

.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
credentials.json
terraform/credentials.json

# Ignore Kubernetes secrets
k8s/cloudsql-instance-credentials-secret.yaml

# Ignore Terraform plan file
terraform/tfplan
